.catalog {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 944px;
  margin: 0 auto;
  gap: 0 48px;
  grid-template-areas: "one two three four" "five six seven eight";
}
